---
import "../../styles/additional-animation/Ballance.scss"
---

<div class="ballance-wrap">
  <h1>WHEN THERE IS NO HEAVEN AND EARTH, WHAT ARE WE?</h1>
  <div class="ballance">
    <div class="ballance__beam">
      <div class="ballance__ball"></div>
    </div>
  </div>
</div>



