---
import "../../styles/additional/Steps.scss";

const data = [
  {
    id: 1,
    title: 'Lv 0',
    successor: [
      {
        id: 2,
        title: 'Lv 1.1',
      },
      {
        id: 3,
        title: 'Lv 1.2',
      },
    ]
  }
];
---

<div class="tree">
  <ul>
    <li>
      <a href="#">{data[0].title}</a>
      <ul>
        <li>
          <a href="#">Child</a>
          <ul>
            <li>
              <a href="#">Grand Child</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Child</a>
          <ul>
            <li><a href="#">Grand Child</a></li>
            <li>
              <a href="#">Grand Child</a>
              <ul>
                <li>
                  <a href="#">Great Grand Child</a>
                </li>
                <li>
                  <a href="#">Great Grand Child</a>
                </li>
                <li>
                  <a href="#">Great Grand Child</a>
                </li>
              </ul>
            </li>
            <li><a href="#">Grand Child</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
