---
import "../../styles/additional-animation/Mountains.scss"
---

<div class='wrap'>
  <div class='lake'>
    <div class='ripple'></div>
  </div>
  <div class='mountain'>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
  </div>
  <div class='mountain'>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
  </div>
  <div class='mountain'>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
  </div>
  <div class='sun'></div>
</div>


