---
import "../../styles/additional-animation/MultiWorld.scss"
---


<div class="proxz-nav">
  <div class="proxz-nav__system">
    <li class="proxz-nav__orbit">
      <a class="proxz-nav__satellite" href="#">
        <span class="proxz-nav__label">Step sky
          <span class="proxz-nav__description">Sky Title
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit">
      <a class="proxz-nav__satellite" href="#">
        <span class="proxz-nav__label">Step 1
          <span class="proxz-nav__description">1 Title
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit">
      <a class="proxz-nav__satellite" href="#">
        <span class="proxz-nav__label">Step 2
          <span class="proxz-nav__description">2 Title
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit">
      <a class="proxz-nav__satellite" href="#">
        <span class="proxz-nav__label">Step 3
          <span class="proxz-nav__description">3 Title
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit">
      <a class="proxz-nav__satellite" href="#">
        <span class="proxz-nav__label">Step 4
          <span class="proxz-nav__description">4 Title
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit">
      <a class="proxz-nav__satellite" href="#">
        <span class="proxz-nav__label">Step 5
          <span class="proxz-nav__description">5 Title
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit">
      <a class="proxz-nav__satellite" href="#">
        <span class="proxz-nav__label">Step 6
          <span class="proxz-nav__description">6 Title
          </span>
        </span>
      </a>
    </li>
  </div>
  <div class="hologram">
    <div class="btm-0 triangle-mid"></div>
    <div class="btm-0 triangle-mid-back"></div>
    <div class="btm-0 triangle triangle-2"></div>
    <div class="btm-0 triangle triangle-back-2"></div>
    <div class="btm-0 triangle triangle-3"></div>
    <div class="btm-0 triangle triangle-back-3"></div>
  </div>
</div>



