---
import "../../styles/additional-animation/MultiWorld.scss"
---


<div class="proxz-nav">
  <div class="proxz-nav__system">
    <li class="proxz-nav__orbit formless_realm_orbit">
      <a class="proxz-nav__satellite formless_realm_satellite" href="#">
        <span class="proxz-nav__label formless_realm_label">Formless Realm Heaven
          <span class="proxz-nav__description">...
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit form_realm_orbit">
      <a class="proxz-nav__satellite form_realm_satellite" href="#">
        <span class="proxz-nav__label form_realm_label">Form Realm Heaven
          <span class="proxz-nav__description">...
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit desire_realm_orbit">
      <a class="proxz-nav__satellite desire_realm_satellite" href="#">
        <span class="proxz-nav__label desire_realm_label">Desire Realm Heaven
          <span class="proxz-nav__description">...
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit mankind_orbit">
      <a class="proxz-nav__satellite mankind_satellite" href="#">
        <span class="proxz-nav__label mankind_label">Mankind
          <span class="proxz-nav__description">(manussa)
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit asura_orbit">
      <a class="proxz-nav__satellite asura_satellite" href="#">
        <span class="proxz-nav__label asura_label">Asura
          <span class="proxz-nav__description">(asurakāya)
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit hungry_ghost_orbit">
      <a class="proxz-nav__satellite hungry_ghost_satellite" href="#">
        <span class="proxz-nav__label hungry_ghost_label">Hungry Ghost
          <span class="proxz-nav__description">(petavisaya)
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit animal_orbit">
      <a class="proxz-nav__satellite animal_satellite" href="#">
        <span class="proxz-nav__label animal_label">Animal
          <span class="proxz-nav__description">(tiracchānayoni)
          </span>
        </span>
      </a>
    </li>
    <li class="proxz-nav__orbit hell_orbit">
      <a class="proxz-nav__satellite hell_satellite" href="#">
        <span class="proxz-nav__label hell_label">Hell
          <span class="proxz-nav__description">(niraya)
          </span>
        </span>
      </a>
    </li>
  </div>
  <div class="hologram">
    <div class="btm-0 triangle-mid"></div>
    <div class="btm-0 triangle-mid-back"></div>
    <div class="btm-0 triangle triangle-2"></div>
    <div class="btm-0 triangle triangle-back-2"></div>
    <div class="btm-0 triangle triangle-3"></div>
    <div class="btm-0 triangle triangle-back-3"></div>
  </div>
</div>



