---
import "../../styles/additional/PeriodicTable.scss"

const { sect, mastersDb } = Astro.props;
---

<h3>{sect.label}</h3>
<div class="periodic-table">
  <div class="empty-spacer-1"></div>
  <div class="empty-spacer-2"></div>
  {
    mastersDb.map(master =>
      <div class={ "periodic-element" +
              master.id%5 == 1
                ? "social-media"
                : master.id%5 == 2
                  ? "just-trying"
                  : master.id%5 == 3
                    ? "intense-work"
                    : "fun-stuff"
          } data-description="ðŸŽ¨ðŸª"
      >
        <div class="periodic-element-inner">
          <div class="title">{master.name_en}</div>
          <div class="description">{master.country}</div>
        </div>
      </div>
    )
  }
</div>
<div class="legend-table">
  <div class="legend-table__wrapper">
    <span class="legend-table__marker social-media"></span>
    <span class="legend-table__text">Social Media</span>
    <span class="legend-table__marker intense-work"></span>
    <span class="legend-table__text">Serious Work</span>
    <span class="legend-table__marker just-trying"></span>
    <span class="legend-table__text">Personal Development</span>
    <span class="legend-table__marker fun-stuff"></span>
    <span class="legend-table__text">Fun Stuff</span><br/>
    <div class="legend-table__direction"><span>&#8594; &ensp; Across the table: Importance</span></div>
    <div class="legend-table__direction"><span>&#8595; &ensp; Down the table: Time Spent</span></div>
  </div>
</div>

