---
import "../../styles/additional-animation/WalkingCat.scss"
---

<div id="marco">
  <h1>WHEN THERE IS NO HEAVEN AND EARTH, WHAT ARE WE?</h1>
  <div id="cielo"></div>
  <div id="luna"></div>
  <div id="gato"></div>
  <div id="muro"></div>
  <div id="edificios"></div>
</div>

