---
import "../../styles/additional-animation/WalkingCat.scss"
import Wanderer from "../../layouts/components/Wanderer.astro";
---

<div id="marco">
  <Wanderer />
  <h1>WHEN THERE IS NO HEAVEN AND EARTH, WHAT AM I?</h1>
  <div id="cielo"></div>
  <div id="luna"></div>
  <div id="gato"></div>
  <div id="muro"></div>
  <div id="edificios"></div>
</div>

