---
import {getTranslations} from "../../../lib/utils/languageParser";
import {ContentEntryMap} from "astro:content";
import mapViDb from "../../../db/maps/mapViDb";
import mapEnDb from "../../../db/maps/mapEnDb";

const { lang } = Astro.params;
const locations = !lang || lang === 'vi' ? mapViDb : mapEnDb;
const { patriarchal_zen } = await getTranslations(lang as keyof ContentEntryMap);
---

{
  locations?.map(location =>
  <section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      <div class="mt-8 lg:-mx-6 lg:flex lg:items-center h-auto">
        <div class="lg:w-1/2 mt-0 top-0 ">
          <div class="flex justify-between">
            <div class="flex-auto">
              <a href={ location.url } target="_blank">
                <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">{location.title}</h1>
              </a>
            </div>
            <div class="flex-auto"></div>
          </div>
          <div class="flex justify-evenly">
            <div class="flex-1">
              <a href={ location.url } target="_blank" class="text-2xl font-semibold text-gray-800 hover:underline dark:text-white md:text-3xl">
                <img width="300px" decoding="async" src={ location.cover }  />
              </a>
            </div>
            <div class="flex-1">
              <p class="mt-3 text-sm text-gray-500 dark:text-gray-300 md:text-sm">
                { location.description }
              </p>
              <a href={ location.url } class="inline-block mt-2 text-blue-500 underline hover:text-blue-400">Read more</a>
            </div>
          </div>
          <div class="flex items-center mt-4">
            <img class="object-cover object-center w-10 h-10 rounded-full" src="http://tosuthien.com/wp-content/uploads/2022/12/logo-tosuthien.png" alt="">
            <div class="mx-4">
              <h1 class="text-sm text-gray-700 dark:text-gray-200">{patriarchal_zen}</h1>
              <p class="text-sm text-gray-500 dark:text-gray-400">Zen Master</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>)
  }


