---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import social from "@/config/social.json";
import {
  getLangFromUrl,
  getTranslations,
  slugSelector,
} from "@/lib/utils/languageParser";
import { markdownify } from "@/lib/utils/textConverter";
import type { ContentEntryMap } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const menu = await getTranslations(lang as keyof ContentEntryMap);
let footer: any = [];
if (menu) {
  footer = menu.footer;
}
---

<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:text-left">
        <Logo />
      </div>
      <div class="mb-8 text-center lg:col-6 lg:mb-0">
        <ul>
          {
            footer.map((menu: any) => (
              <li class="m-3 inline-block">
                <a href={slugSelector(menu.url, lang)}>{menu.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</footer>
