---
import ChartApp from "../../../layouts/shortcodes/ChartApp.tsx";
import '@/styles/table.css';
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import {
  getLangFromUrl,
  getTranslations,
  supportedLang
} from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";
import type { ContentEntryMap } from "astro:content";
import { site } from "@/config/config.json";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}
const { lang } = Astro.params || getLangFromUrl(Astro.url);
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DHTMLX Diagram Organization Chart with CDN</title>

  <!-- Include DHTMLX Diagram CSS via CDN -->
  <link rel="stylesheet" href="https://cdn.dhtmlx.com/diagram/edge/diagram.css">

  <!-- Include DHTMLX Diagram JS via CDN -->
  <script src="https://cdn.dhtmlx.com/diagram/edge/diagram.js"></script>

</head>

<body>

<Base>
<PageHeader title={"Zen Master"} />

<div id="orgChartContainer" style="width: 100%; height: 600px;"></div>

<!-- JavaScript to initialize and render the organization chart -->
<script>

</script>
</Base>
</body>
</html>
