---
import Table from "../../../layouts/shortcodes/Table.tsx";
import {
  CnMasters,
  AllSectMasters,
  InMasters,
  ViMasters,
  JpMasters,
} from "../../../db/masters/AllMasterDb.tsx";

import '@/styles/table.css';
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import {
  getLangFromUrl,
  getTranslations,
  supportedLang
} from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";
import type { ContentEntryMap } from "astro:content";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}
const { lang } = Astro.params || getLangFromUrl(Astro.url);

const postIndex = await getListPage(
  "masters",
  lang as keyof ContentEntryMap
);
const posts = await getSinglePage("masters", lang as keyof ContentEntryMap);
const {
  in_masters, cn_masters, vi_masters, jp_masters, level_, level__,
} = await getTranslations(lang as keyof ContentEntryMap);
---

<Base>
  <PageHeader title={"Zen Master"} />

  <section class="section">

    <span style="font-size: 3rem; margin-left: 48%"><a href="/masters/chart">🔮</a></span>

    <div class="container">
      <h2>{ in_masters }</h2>
      <Table client:load data={InMasters} lang={lang ? lang : 'vi'} />
    </div>

    <div class="container">
      <h2>{ cn_masters } - { level_ }</h2>
      <Table client:load data={CnMasters[0]} lang={lang ? lang : 'vi'}/>
    </div>

    {
      CnMasters.map((CnMaster, CnMasterIndex) =>
        <div class="container">
          <h2>{ cn_masters } - { level__ } {CnMasterIndex}</h2>
          <Table client:load data={CnMaster} lang={lang ? lang : 'vi'}/>
        </div>
      )
    }

  </section>
</Base>
