---
import "../../../styles/additional/BookList.scss"
import bookViDb from "../../../db/books/bookViDb";
import bookEnDb from "../../../db/books/bookEnDb";

const { lang } = Astro.params;
const books: array<string> = !lang || lang === 'vi' ? bookViDb : bookEnDb;
const booksSpeech = books?.filter(book => book.type === 'Speech');
const booksAaq = books?.filter(book => book.type === 'Q&A');
const booksOther = books?.filter(book => !book.type);
---

<div class="book-list">
  <div class='container'>
    <div class='center list flex-column' client:load>
    
    </div>
  </div>
</div>

<script lang="ts">
  let old = document.querySelector('.card');

  document.querySelectorAll('.card').forEach(card => {
    card.addEventListener('click', function() {
      if (old && old.classList.contains('open')) {
        old.classList.toggle('open');
      }
      this.classList.toggle('open');
      old = this;
    });
  });
</script>
