---
import "../../../styles/additional/PureBook.scss"

const { title, author, link } = Astro.props;
---

<div class="pure-book">
  <div class="book">
    <div id="pages" class="pages">
      <div class="page"><p>{ title }</p></div>
      <div class="page"></div>
      <div class="page"><p>{ author }</p></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
    </div>
  </div>
</div>

<script lang="ts">
  const pages = Array.from(document.getElementsByClassName('page'));

  pages.forEach((page, i) => {
    if (i % 2 === 0) {
      page.style.zIndex = (pages.length - i);
    }
  });

  document.addEventListener('DOMContentLoaded', () => {
    pages.forEach((page, i) => {
      page.pageNum = i + 1;
      page.onclick = function() {
        if (this.pageNum % 2 === 0) {
          this.classList.remove('flipped');
          this.previousElementSibling?.classList.remove('flipped');
        } else {
          this.classList.add('flipped');
          this.nextElementSibling?.classList.add('flipped');
        }
      };
    });
  });
</script>


