/* section style */
.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 1280px) {
  .section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
.section-sm {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 1280px) {
  .section-sm {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* container */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 24px;
}

/* form-input */
.form-input {
  width: 100%;
  border-radius: 0.25rem;
  border-color: transparent;
  background-color: var(--theme-light);
  padding: 1rem 1.5rem;
  color: var(--dark);
  caret-color: var(--primary);
}
.form-input::placeholder {
  color: var(--light);
}
.form-input:focus {
  border-color: var(--primary);
  box-shadow: none;
}
@media (prefers-color-scheme: dark) {
  .form-input {
    border-color: var(--darkmode-border);
    background-color: var(--darkmode-theme-light);
    color: var(--darkmode-light);
  }
}

/* form-label */
.form-label {
  margin-bottom: 1rem;
  display: block;
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--dark);
}
@media (prefers-color-scheme: dark) {
  .form-label {
    color: var(--darkmode-light);
  }
}
