@mixin styling($size) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .ballance-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ballance {
    height: $size * 0.8;
    width: $size * 0.8;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    animation: rotate 10s linear infinite;
  }

  .ballance__beam {
    height: $size / 5;
    width: $size * 14;
    top: $size / -5;
    border-radius: 4px;
    background: linear-gradient(
        320deg,
        gray 0%,
        white 5%,
        #ede3c8 7%,
        black 30%,
        gray 25%,
        white 48%,
        #ebddc3 49%,
        black 52%,
        #e6d8bd 53%,
        gray 54%,
        white 55%,
        #e6d8bd 56%,
        black 57%,
        #e6d8bd 58%,
        black 73%,
        #e9dbc0 74%,
        gray 98%,
        white 100%
    );
    background-size: 8px;
    background-repeat: repeat;
    position: relative;
    animation: wobble 4s ease-in-out infinite alternate;
  }

  .ballance__ball {
    height: $size/6;
    width: $size/6;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: $size/6 * -1;
    right: 0;
    animation: rolling 4s ease-in-out infinite alternate;


    &:after {
      content: '🧘';
    }
  }

  @keyframes wobble {
    0% {
      transform: rotate(-12deg);
      box-shadow: inset 1px 2px 10px #000;
    }

    100% {
      transform: rotate(12deg);
      box-shadow: inset 0px 0px 6px #000;
    }
  }

  @keyframes rolling {
    0% {
      right: calc(100% - #{$size});
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: $size * 7, 0;
    }
  }
}

@media screen and (min-width: 768px) {
  @include styling($size: 140px); /*Web size control*/
}
@media screen and (max-width: 767px) {
  @include styling($size: 60px); /*Mobile size control*/
}
@media screen and (max-width: 380px) {
  @include styling($size: 55px);
}
