---
import Base from "@/layouts/Base.astro";
import {
  getLangFromUrl,
  getTranslations,
  supportedLang
} from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";
import type { ContentEntryMap } from "astro:content";
import { site } from "@/config/config.json";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}
const { lang } = Astro.params || getLangFromUrl(Astro.url);
const {
  books,
} = await getTranslations(lang as keyof ContentEntryMap);
---

<Base
  title={ site.title + books }
  meta_title={ site.meta_title + books }
  description={ site.meta_description + books }
  image={'/images/meta-image-square-1.jpg'}
>
  <PageHeader title={ books } />
  <section class="section">
    <div class="container">
      {
        !lang || lang === 'vi'
          ? <iframe
              style='width:900px;height:500px'
              src='https://pubhtml5.com/bookcase/cunen//green'
              seamless='seamless' scrolling='no' frameborder='0'
              allowtransparency='true'
              allowfullscreen
            />
          : <iframe
              style='width:900px;height:500px'
              src='https://pubhtml5.com/bookcase/qkqyg//green'
              seamless='seamless' scrolling='no' frameborder='0'
              allowtransparency='true'
              allowfullscreen
            />
        }
    </div>
  </section>
</Base>
