---
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import type { ContentEntryMap } from "astro:content";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { lang } = Astro.params;
const about = await getListPage("dharma-realm", lang as keyof ContentEntryMap);

const { Content } = await about[0].render();
const { title, description, meta_title, image } = about[0].data;

// Galaxy
import "@/styles/additional-animation.scss"
import "@/layouts/helpers/galaxy"
import HuaTou from "../../layouts/partials/Huatou.astro";
---
<Base>
  <div class='wrap'>
  <div class='lake'>
    <div class='ripple'></div>
  </div>
  <div class='mountain'>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
  </div>
  <div class='mountain'>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
  </div>
  <div class='mountain'>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
    <div class='plane'>
      <div class='face'></div>
    </div>
  </div>
  <div class='sun'></div>
</div>
</Base>


