---
import Base from "@/layouts/Base.astro";
import BookList from "@/layouts/components/Books/BookList.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import { site } from "@/config/config.json";
import PageHeader from "../../layouts/partials/PageHeader.astro";
export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { lang } = Astro.params;
---

<Base
  title={ site.title + ' - Download' }
  meta_title={ site.meta_title + ' - Download' }
  description={ site.meta_description + ' - Download' }
  image={'/images/meta-image-wide.jpg'}
>
  <PageHeader title={`${site.title} - Download`} />
  <section class="section-sm">
    <div class="container">
      <BookList />
    </div>
  </section>
</Base>
