---
import Base from "@/layouts/Base.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import { site } from "@/config/config.json";
import PageHeader from "../../layouts/partials/PageHeader.astro";
import Indent from "@/shortcodes/Indent.tsx";

export function getStaticPaths() {
    const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { lang } = Astro.params;
---

<Base
  title={ !lang || lang === 'vi' ? 'CÔNG ÁN NỔI TIẾNG' : 'Famous Zen Koans' }
  meta_title={ !lang || lang === 'vi' ? 'CÔNG ÁN NỔI TIẾNG' : 'Famous Zen Koans' }
  description={ !lang || lang === 'vi' ? 'CÔNG ÁN NỔI TIẾNG' : 'Famous Zen Koans' }
  image={'/images/meta-image-wide.jpg'}
>
  <PageHeader title={ !lang || lang === 'vi' ? 'CÔNG ÁN NỔI TIẾNG' : 'Famous Zen Koans' } />
  <section class="section-sm">

    {
      !lang || lang === 'vi'
        ? <div class="container vi-koans">

            <details>
              <summary class="font-bold">
                <b>TỊNH QUẢ TAM TU QUÍ (BA XẤU HỔ)</b> <em>(TS. Tịnh Quả)</em>
              </summary>
              <br/><Indent /> Có một vị Tăng hỏi Thiền sư Tịnh Quả: “Khi hạc đậu trên cây tùng đơn lẻ thì như thế nào?”. Hạc đậu trên cây tùng cô lẻ, thật là một cảnh giới siêu phàm thoát tục. 
<br/><Indent /> Thế nhưng, Thiền sư Tịnh Quả lại trả lời: “Dưới chân là một bãi ô uế.”
              <br/><Indent /> Thiền tăng lại hỏi: “Khi tuyết trắng phủ đầy núi thì như thế nào?”
              <br/><Indent /> Thật là một thế giới thanh tịnh. Nhưng, Thiền sư Tịnh Quả lại nói: “Sau khi mặt trời mọc, quả đất là một đám xấu hổ.”
              <br/><Indent /> Thiền Tăng hỏi câu thứ ba: “Đường Vũ Tông vào giữa niên hiệu Hội Xương đã phát động một phong trào pháp nạn trước đây chưa từng có, chùa chiền bị phá hủy, tượng Phật bị đập vỡ, kinh sách bị thiêu rụi, tăng ni bị đuổi, lúc đó, thần hộ pháp đi đâu rồi?”
              <br/><Indent /> Thiền sư Tịnh Quả nói: “Hai vị ngoài cửa chùa, là một phường xấu hổ.”
            </details>
<br />
            <details>
              <summary class="font-bold">
                <b>BẢO PHÚC TỨ MẠN NHÂN (BỐN LẦN LỪA NGƯỜI)</b> <em>(TS. Bảo Phúc Tùng Triển)</em>
              </summary>
              <br/><Indent /> Thiền sư Bảo Phúc Tùng Triển hỏi một tăng nhân: “Trong đại điện là gì?”
              <br/><Indent /> Thiền tăng biết Hòa thượng biết rõ mà cố hỏi, tất nhiên có ẩn dấu cơ phong, cho nên ông đáp một cách thông minh: “Hòa thượng ngài tự đi xem cho rõ.”
              <br/><Indent /> Thiền sư Bảo Phúc Tùng Triển không thèm nhìn mà nói: “Ông Thích Ca kia.”
              <br/><Indent /> Thiền tăng chẳng khách khí nói: “Đại Hòa thượng, ngài chớ lừa dối người khác được không!”
              <br/><Indent /> “Là ngươi lừa dối ta.” Thiền sư Bảo Phúc Tùng Triển nói.
              <br/><Indent /> Tiếp đó, Bảo Phúc Tùng Triển lại hỏi vị tăng kia: “Tên ngươi là gì?”
              <br/><Indent /> “Tên tôi là Hàm Trạch.” Vị tăng kia trả lời.
              <br/><Indent /> Tên của người ta vốn là có ý nghĩa “Ân Trạch Quảng Bị”, Bảo Phúc Tùng Triển lại nói: “Lúc Ân Trạch giống như giọt nước khô thì như thế nào?”
              <br/><Indent /> Vị Tăng kia theo lý đương nhiên hỏi lại: “Ai là giọt nước khô?”
              <br/><Indent /> Bảo Phúc Tùng Triển nói: “Ta”. 
<br/><Indent /> Vị tăng kia nói: “Đại Hòa thượng, ngài chớ lừa gạt người khác được không?”
             <br/><Indent /> Bảo Phúc lại nói lần nữa: “Nhưng mà ngươi lừa gạt ta.”
              <br/><Indent /> Sư Bảo Phúc Tùng Triển lại hỏi: “Ngươi làm nghề gì mà dáng vẻ cao to như vậy?”
              <br/><Indent /> Hàm Trạch hỏi lại: “Đại Hòa thượng, ngài thấp bao nhiêu?”
              <br/><Indent /> Thiền sư Bảo Phúc Tùng Triển hỏi người nấu cơm: “Nồi của ngươi rộng bao nhiêu?”
              <br/><Indent /> Người đầu bếp cũng là một người hiểu thiền, hỏi ép sư phụ: “Đại Hòa thượng tự ngài thử lượng xem.”
              <br/><Indent /> Thiền sư Bảo Phúc Tùng Triển dùng tay làm tư thế đo đo. Người đầu bếp mắng: “Đại Hòa thượng, ngươi chứ lừa gạt người được không!”
              <br/><Indent /> Thiền sư Bảo Phúc Tùng Triển vẫn nói câu nói đó: “Nhưng mà ngươi lừa gạt ta.”
            </details>
<br />
            <details>
              <summary class="font-bold">
                <b>HÒA SƠN BỐN LẦN ĐÁNH TRỐNG</b> <em>(TS. Hòa Sơn Vô Ân)</em>
              </summary>
              <br/><Indent /> Thiền sư Hòa Sơn lúc thuyết pháp tại pháp đường, thường trích dẫn một đoạn phẩm Quảng Chiếu Không Hữu trong Bảo Tạng Luận:
              <br/><Indent /> “Học tập là một giai đoạn nghe, tuyệt học là một giai đoạn gần đến gần, vượt lên trên cả hai thứ đó là giai đoạn đạt đến chân lý.”
              <br/><Indent /> Một thiền tăng phản ứng rất nhanh, từ trong đại chúng đứng dậy nêu lên một câu hỏi: “Giai đoạn đạt đến chân lý là gì?”
              <br/><Indent /> Hòa Sơn không trả lời theo câu hỏi: “Ta chỉ biết đánh trống”.
              <br/><Indent /> Một thiền tăng khác từ trong câu trả lời kỳ quái của sư phụ đã thể ngộ được sự nhạy bén của thiền cơ đến nhanh như chớp rồi đi, lập tức truy hỏi: “Chân đế là gì?”
              <br/><Indent /> Chân đế chính là cảnh giới tuyệt đối của thiền, hoàn toàn không dính bụi trần, tục đế tương ứng với nó tức là vạn sự vạn vật đều đầy đủ.
              <br/><Indent /> Chân đế và tục đế không khác tức là Thánh đệ nhất nghĩa đế.
              <br/><Indent /> Hòa Sơn làm sao mà trả lời được? Ngài nói: “Ta chỉ biết đánh trống”.
              <br/><Indent /> Tiếng trống lần thứ hai, thức tỉnh người đệ tử thứ ba, người đệ tử thay đổi câu hỏi một cách mới mẽ hơn: “Tức tâm tức Phật, con không còn phải hỏi nữa, xin sư phụ nói cho con biết thế nào là “chẳng phải tâm chẳng phải Phật?”
              <br/><Indent /> Tức tâm tức Phật, chẳng phải tâm chẳng phải Phật, đều là thiền ngữ do Mã Tổ Đạo Nhất đề xướng rộng rãi, trong tòng lâm không ai không biết, không ai không hiểu.
              <br/><Indent /> Tức tâm tức Phật còn dễ lý giải; chẳng phải tâm chẳng phải Phật thì rất ít người có thể đạt đến giai đoạn này.
              <br/><Indent /> “Ta chỉ biết đánh trống”. Thiền sư Hòa Sơn lại trả lời như vậy, khác nào trên băng lại đổ thêm dầu, thử hỏi ai có thể đi trên đó được.
              <br/><Indent /> Chớ nói đường băng trơn, mà có người trượt băng.
              <br/><Indent /> Thiền tăng thứ tư lên pháp đường hỏi rằng: “Nếu như một người đã tu chứng, đã giải thoát, chứng đắc huệ quả vô thượng đi đến, thì nên hướng dẫn ông ta như thế nào ?”
              <br/><Indent /> Thiền sư Hòa Sơn vẫn trả lời như thế: “Ta chỉ biết đánh trống”.
            </details>
<br />
            <details>
            <summary class="font-bold">
              <b>TRIỆU CHÂU UỐNG TRÀ</b> <em>(TS. Triệu Châu Tùng Thẩm)</em>
            </summary>
              <br/><Indent /> Có hai vị Tăng vân du cùng đến viện Quan Âm của ngài Triệu Châu (nay là chùa Bá Lâm huyện Triệu ở Hà Bắc) viện chủ (giám viện) dẫn họ đến phương trượng bái kiến Triệu Châu Cổ Phật - Đại sư Tùng Thẩm. Đại sư Triệu Châu Tùng Thẩm hỏi: “Đã từng đến đây chưa?”
              <br/><Indent /> “Con đã từng đến.” Một vị tăng trả lời. Đại sư Triệu Châu bảo: “Được rồi, mời ông uống trà đi.”
              <br/><Indent /> Một vị tăng trẻ tuổi khác thưa: “Thưa sư phụ, con chưa từng đến.”
              <br/><Indent /> Thiền sư Triệu Châu vẫn nói một câu như trước: “Được rồi, mời ông uống trà đi.”
              <br/><Indent /> Ngày xưa trong tòng lâm tiếp đãi những tăng nhân vân du đến ở lại đêm, có tục lệ uống trà.
              <br/><Indent /> Nhưng đối với người mới đến và khách cũ có sự khác nhau.
              <br/><Indent /> Đại sư Triệu Châu phá lệ đều bảo họ uống trà đi, không những làm cho hai vị học tăng hoài nghi không hiểu mà ngay cả viện chủ đứng bên cạnh cũng nghi ngờ.
              <br/><Indent /> Viện chủ không chịu được hỏi: “Thưa lão Hòa thượng! Người đã từng đến chỗ của chúng ta ngài bảo ông ta uống trà đi, người chưa từng đến ngài cũng bảo ông ta uống trà đi, vì sao vậy?”
              <br/><Indent /> “Viện chủ!” Đại sư Triệu Châu bỗng dưng hét một tiếng lớn. Viện Chủ giật mình, đáp lại theo bản năng: “Thưa sư phụ, con ở đây.”

              <br/><Indent /> “Ông cũng uống trà đi!”
          </details>

          </div>

      : <div class="container en-koans">

        </div>
    }

  </section>
</Base>
