---
import Base from "@/layouts/Base.astro";
import BookList from "@/layouts/components/Books/BookList.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import { site } from "@/config/config.json";
export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { lang } = Astro.params;
---

<title>{ site.title + ' - Masterpieces' }</title>

<Base>

  Masterpieces

</Base>
