---
import Base from "@/layouts/Base.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";
import { getCollection } from "astro:content";
export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

const { page } = Astro.props;
const donations = await getCollection("donations", ({ data }) => {
  // filter out draft pages
  return data.draft !== true;
});
---

<Base
  title={'Đóng góp'}
  meta_title={'Đóng góp'}
  description={'Đóng góp'}
  image={'/images/contributors/sample'}
>
  <PageHeader title={'Đóng góp'} />
  <section class="section-sm">
    <div class="container">

    </div>
  </section>
</Base>
