---
import config from "../../../../config/config.json";
import Base from "../../../../layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { supportedLang } from "../../../../lib/utils/languageParser";
import MonoChart from "../../../../layouts/components/Chart/MonoChart.astro";

const { id } = Astro.params;
export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: {
      lang: lang || undefined,
      id: id,
    },
  }));
  return paths;
}
---

<Base title="Master Chart">
  <section class="section-sm text-center">
    <MonoChart id={id} />
  </section>
</Base>
