---
import "../../../styles/additional/ColorfulChart.scss";
import { CnMasters }  from "../../../db/masters/AllMasterDb";
import config from "../../../config/config.json";
import {
  getLangFromUrl,
  getTranslations,
  supportedLang,
  slugSelector,
} from "../../../lib/utils/languageParser";
import type { ContentEntryMap } from "astro:content";

export function getStaticPaths() {
  const paths = supportedLang.map((lang) => ({
    params: { lang: lang || undefined },
  }));
  return paths;
}

let lang = getLangFromUrl(Astro.url);

const disabledLanguages = config.settings.disable_languages as string[];
if (disabledLanguages.includes(lang)) {
  lang = config.settings.default_language;
}

const flatMasterData = CnMasters.flat();
const masterData = flatMasterData.map(master=>
  ({
    id: master.id,
    level: (master.id + '')?.slice(0, (master.id + '')?.indexOf('.')),
    name: master.name_en,
    disciples: master.disciples?.map(disciple => ({
      id: flatMasterData.find(person => person.name_en === disciple)?.id,
      level: (master.id + '')?.slice(0, (master.id + '')?.indexOf('.')) +1,
      name: flatMasterData.find(person => person.name_en === disciple)?.name_en,
      disciples: disciple.disciples?.map(who => ({
        id: flatMasterData.find(person => person.name_en === who)?.id,
        level: (master.id + '')?.slice(0, (master.id + '')?.indexOf('.')) +1,
        name: flatMasterData.find(person => person.name_en === who)?.name_en,
      })),
    }))
  })
);
---

<div id="wrapper">
  <div id="container">

    <ol class="organizational-chart">
      <li>
        <div>
          <h1>Primary</h1>
        </div>
        <div>
          <h1>Primary</h1>
        </div>
        <div>
          <h1>Primary</h1>
        </div>
        <ol>
          <li>
            <div>
              <h2>Secondary</h2>
            </div>
            <ol>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
              </li>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
                <ol>
                  <li>
                    <div>
                      <h4>Quaternary</h4>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h4>Quaternary</h4>
                    </div>
                    <ol>
                      <li>
                        <div>
                          <h5>Quinary</h5>
                        </div>
                      </li>
                      <li>
                        <div>
                          <h5>Quinary</h5>
                        </div>
                        <ol>
                          <li>
                            <div>
                              <h6>Senary</h6>
                            </div>
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                  <li>
                    <div>
                      <h4>Quaternary</h4>
                    </div>
                  </li>
                </ol>
              </li>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
              </li>
            </ol>
          </li>
          <li>
            <div>
              <h2>Secondary</h2>
            </div>
            <ol>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
              </li>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
                <ol>
                  <li>
                    <div>
                      <h4>Quaternary</h4>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h4>Quaternary</h4>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h4>Quaternary</h4>
                    </div>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            <div>
              <h2>Secondary</h2>
            </div>
            <ol>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
                <ol>
                  <li>
                    <div>
                      <h4>Quaternary</h4>
                    </div>
                    <ol>
                      <li>
                        <div>
                          <h5>Quinary</h5>
                        </div>
                        <ol>
                          <li>
                            <div>
                              <h6>Senary</h6>
                            </div>
                          </li>
                          <li>
                            <div>
                              <h6>Senary</h6>
                            </div>
                          </li>
                        </ol>
                      </li>
                      <li>
                        <div>
                          <h5>Quinary</h5>
                        </div>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
              </li>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
              </li>
            </ol>
          </li>
          <li>
            <div>
              <h2>Secondary</h2>
            </div>
            <ol>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
              </li>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
              </li>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
                <ol>
                  <li>
                    <div>
                      <h4>Quaternary</h4>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h4>Quaternary</h4>
                    </div>
                  </li>
                </ol>
              </li>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
              </li>
              <li>
                <div>
                  <h3>Tertiary</h3>
                </div>
              </li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>

  </div>
</div>
